test/nexj/core/meta/integration/format/xml/wsdl/ExampleService/multiSchemaService.wsdl

<wsdl:definitions
   name="NamespaceExample"
   targetNamespace="http://nexj.example.com/ns0/"
   xmlns="http://anything"
   xmlns:ex="http://nexj.example.com/abc/"
   xmlns:tns="http://nexj.example.com/ns0/"
   xmlns:ns1="http://nexj.example.com/ns1/"
   xmlns:ns2="http://nexj.example.com/ns2/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

   <wsdl:types>

      <schema
         targetNamespace="http://nexj.example.com/ns1/"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:ex="http://nexj.example.com/def/"
         xmlns:ns2="http://nexj.example.com/ns2/">

         <element name="elementA" type="ns2:typeA"/>
         <element name="elementB" type="string"/>
      </schema>

      <schema
         targetNamespace="http://nexj.example.com/ns2/"
         xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:ex="http://nexj.example.com/jkl/"
         xmlns:tns="http://nexj.example.com/ns2/">

         <element name="elementC" type="string"/>
         <element name="elementD" type="string"/>

         <complexType name="typeA">
            <sequence>
               <element ref="tns:elementC"/>
            </sequence>
         </complexType>
      </schema>

   </wsdl:types>

   <wsdl:message name="ProcessRequest">
      <wsdl:part name="parameters" element="ns1:elementA"/>
   </wsdl:message>
   <wsdl:message name="ProcessResponse">
      <wsdl:part name="parameters" element="ns2:elementD"/>
   </wsdl:message>
   <wsdl:portType name="AbstractDetails">
      <wsdl:operation name="Process">
         <wsdl:input message="tns:ProcessRequest"/>
         <wsdl:output message="tns:ProcessResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ConcreteDetails" type="tns:AbstractDetails">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Process">
         <soap:operation soapAction=""/>
         <wsdl:input>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="parameters"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="namespaceService">
      <wsdl:port name="Endpoint" binding="tns:ConcreteDetails">
         <soap:address location="http://nexj.example.com"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>