test/nexj/core/meta/integration/format/xml/multipleImport_schema3part1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://namespaceThree"
		xmlns:ns3="http://namespaceThree"
		elementFormDefault="qualified" attributeFormDefault="qualified">

	<element name="element1" type="ns3:TypeOne"/>
	
	<complexType name="TypeOne">
		<sequence>
			<element name="primaryIndicator" type="boolean" minOccurs="0"/>
			<element name="specialInstructions" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
